* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1480px;
  max-width: 80%;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  background-color: #000;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.menu {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul {
  display: flex;
  gap: 50px;
  align-items: center;
}
.menu ul #name {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
  position: relative;
}
.menu ul #name h3 {
  font-size: 150%;
}
.menu ul #name img {
  display: block;
  position: absolute;
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  top: calc(100% - 4px);
  right: -14px;
}
.menu #bar img {
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20vh;
}
.main .box-intro {
  margin-bottom: 15px;
}
.main .box-intro h1 {
  font-size: 280%;
  margin-bottom: 20px;
}
.main .box-intro h1 span {
  color: #eb4a4a;
}
.main .box-intro h1 span a {
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
.main .box-intro h1 span a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0%;
  overflow: hidden;
  transition: 1s;
  border-right: 5px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
  animation: name 2.5s linear 1s infinite alternate;
}
.main .box-intro h1 span a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}
.main .box-intro .btn {
  background-color: #eb4a4a;
  width: 150px;
  padding: 4px 5px 4px 12px;
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.main .box-intro .btn p {
  font-weight: 400;
}
.main .box-intro .btn #arrow {
  height: 100%;
  display: flex;
  padding: 5px 8px;
}
.main .box-intro .btn #arrow img {
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}
.main .box-intro .btn:hover {
  transform: scale(102%);
  transition: 0.5s ease-in-out;
}
.main .box-intro .btn:hover #mask {
  width: 100%;
}
.main .box-intro .btn #mask {
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.25s linear;
}
.main .box-content .title > h3 {
  color: #eb4a4a;
  font-size: 125%;
  margin-bottom: 18px;
  font-weight: 300;
}
.main .box-content .title h2 {
  margin-bottom: 10px;
  font-size: 250%;
  font-weight: 600;
}
.main .box-content .des {
  margin-top: 40px;
}
.main .box-content .des h3 {
  margin-top: 20px;
  color: #a7a7a7;
}
.main .box-content .btn-download {
  margin-top: 40px;
  display: inline-flex;
  color: #eb4a4a;
  padding-bottom: 5px;
  border-bottom: 1px solid #eb4a4a;
  cursor: pointer;
  gap: 5px;
}

.contact {
  position: absolute;
  bottom: 50px;
  display: flex;
  gap: 25px;
}
.contact-item {
  opacity: 0.7;
  cursor: pointer;
}
.contact-item:hover {
  opacity: 1;
  transition: 0.25s linear;
  transform: translateY(-5px);
  transition: 0.25s linear;
}

.getInfor {
  cursor: pointer;
}

#logo {
  position: absolute;
  right: 80px;
  bottom: 50px;
  display: block;
  background-color: #eb4a4a;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  cursor: pointer;
}
#logo img {
  width: 30px;
  display: block;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal {
  display: flex;
  gap: 100px;
}

@keyframes name {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
  }
}/*# sourceMappingURL=style.css.map */